<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  
 <nav></nav>

  <h4 class="container mt-4"><strong>사진 수정 페이지</strong></h4>

  <div class="container mt-3">
    <form action = "/edit?_method=PUT" method = "POST">
      <div class="user_name">
        <label>성함</label>
		<input type="text" value = "<%= user._id %>" name="id" style="display: none;">
        <input value = "<%= user.이름 %>" type="text" class="form-control" name = "user_name" style = "text-align:center; width:200px;>
      </div>
      <div class="select_length">
        <label>영상길이</label>
        <input value = " <%= user.영상길이 %>" type="text" class="form-control" name = "show_time" style = "text-align:center; width:200px;>
      </div>
      <div class="select_format">
        <label>촬영 포맷</label>
		  <br>
        <input type="radio" name = "show_format" value = "3 x 4"> 3 x 4
        <input type="radio" name = "show_format" value = "3.5 x 4.5"> 3.5 x 4.5
        <input type="radio" name = "show_format" value = "5 x 7"> 5 x 7		  
      </div>
		<br>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
 -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>AR사진관 서버</title>
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AR 사진관</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/list">회원관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_user">업로드</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://carnaux.github.io/NFT-Marker-Creator/#/">NFT</a>
      </li>
    </ul>
  </div>
</nav>
	  

  <h4 class="container mt-4"><strong>사진 수정 페이지</strong></h4>

  <div class="container mt-3">
    <!-- <form action = "/upload" method = "POST" enctype="multipart/form-data"> -->
    <form action = "/edit?_method=PUT" method = "POST">
      <div class="user_name">
        <label>성함</label>
		<input type="text" value = "<%= user._id %>" name="id" style="display: none;">
        <input value = "<%= user.이름 %>" type="text" class="form-control" name = "user_name" style = "text-align:center; width:200px;>
      </div>
      <div class="select_length">
        <label>영상길이(초)</label>
        <input value = " <%= user.영상길이 %>" type="text" class="form-control" name = "show_time" style = "text-align:center; width:200px;>
      </div>
      <div class="select_format">
		  <br>
        <label>촬영 포맷</label>
		  <br>
        <input type="radio" name = "show_format" value = "3 x 4"> 3 x 4
		  <br>
        <input type="radio" name = "show_format" value = "3.5 x 4.5"> 3.5 x 4.5
		  <br>
        <input type="radio" name = "show_format" value = "5 x 7"> 5 x 7		  
      </div>
		<br>
		<br>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>